* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background: #dbfffe;
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 3px;
}
.nav-items {
  color: black;
  display: flex;
  width: 500px;
  max-width: 50%;
  justify-content: space-around;
  list-style: none;
}

.nav-item{
  font-size: 19px;
  font-weight: bold;
  color: rgb(27, 41, 24);
  text-decoration: none;
  transition: 0.5;
}
.nav-item:hover {
  color: gray;
  font-size: 22px;
}

.top{
  justify-content: right;
}

.episode-link{
  width: 90vw;;
  margin: 0;
  color: black;
  text-decoration: none;
}

.form {
  height: 90%;
  width: 70vw;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  margin: 10px 0 20px 0;
}

.form-main {
  background-color: #FFF;
  height: 700px;
  width: 100%;
  min-width: 450px;
  padding: 5vh 15vw;
}

.textfield {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  margin-top: 5px;
}

.btn {
  width: 100vh;
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  margin-top: 10px;
}
.btn:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
.btn:hover {
  background: #6bb6ff;
  color: #FFF;
}
.btn:hover:after {
  right: 1.4rem;
}

.date-picker{
  height: 40px;
  width: 100%;
  padding-left: 8px; 
}

.checkform{
  margin:50px;
  height: 500px;
  width: 500px;
  background-color: black;
}